.btn-large {
    --bs-btn-padding-x: 3rem;
}

a.ariane {
    color: maroon;
}

a.ariane:hover {
    text-decoration: none;
}


.form-control-auto {
    field-sizing: content !important;
    resize: none !important;
}

/* Conteneur des images en mode run */
.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    /* Ne dépasse jamais la largeur du parent */
    height: auto;
}

/* Couleur du nom de la Faq */
.darkred {
    color: darkred;
}

.hidden {
    display: none;
}

/* les div qui sont sur l'accueil des modes run */
.div_run {
    background-color: rgb(233, 253, 253);
    border: 2px solid rgb(29, 29, 139);
}

/* Le style des id en database */
.idTable {
    text-align: center;
    font-style: italic;
    font-size: 0.7em;
}

/* Font pour titre Question / Réponses */
.font-qr {
    font-size: 0.6em;
    font-style: italic;
}

/* formulaire in-line pour les actions delete */
.inline-form {
    display: inline;
    margin: 0;
    padding: 0;
}

/* Survol des liens et previsualisation des images */
/* Le conteneur de l'aperçu */

.preview-link {
    width: 50px;
    display: inline-block;
    padding: 0.2em;
    margin: 0.1em;
    text-decoration: none;
    background-color: rgb(188, 188, 247);
}

.image-preview-overlay {
    position: fixed;
    /* Fixé par rapport à l'écran */
    top: 0;
    left: 0;
    width: 100vw;
    /* Toute la largeur */
    height: 100vh;
    /* Toute la hauteur */
    background-color: rgba(0, 0, 0, 0.7);
    /* Fond semi-transparent */
    z-index: 9999;
    /* Au-dessus de tout le contenu */

    /* Centrage parfait avec Flexbox */
    display: none;
    /* Caché par défaut (géré par le JS) */
    justify-content: center;
    /* Centrage horizontal */
    align-items: center;
    /* Centrage vertical */

    pointer-events: none;
    /* Important : pour que le survol traverse l'overlay et ne bloque pas la souris */
}

/* L'image elle-même */
.image-preview-overlay img {
    max-width: 80%;
    /* Ne dépasse pas 80% de la largeur de l'écran */
    max-height: 80%;
    /* Ne dépasse pas 80% de la hauteur de l'écran */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 4px solid white;
    border-radius: 4px;
    object-fit: contain;
    /* Garde les proportions de l'image */
}