@import "theme.css";
@import "ariane.css";
@import "tables.css";
@import "images.css";
@import "footer.css";


.form-control-auto {
    field-sizing: content !important;
    resize: none !important;
}


.hidden {
    display: none;
}

/* les div qui sont sur l'accueil des modes run */
.div_run {
    background-color: rgb(60, 61, 61);
    border: 2px solid rgb(21, 21, 22);
}

/* Le style des id en database */
.idTable {
    text-align: center;
    font-style: italic;
    font-size: 0.7em;
    color: #e8e8e8;
}

/* Font pour titre Question / Réponses */
.font-qr {
    font-size: 0.6em;
    font-style: italic;
}

/* formulaire in-line pour les actions delete */
.inline-form {
    display: inline;
    margin: 0;
    padding: 0;
}


/* Pour les boutons liés aux faqs sur la page d'accueil */
.btn-responsive {
    width: 100%;
}

@media (min-width: 768px) {
    .btn-responsive {
        width: 50%;
        max-width: 400px;
    }
}

/* Page gérer les Faqs */
.btn-action {
    margin-top: 1em;
    width: 100%;
}

@media (min-width: 992px) {
    .btn-action {
        width: 50%;
        max-width: 400px;
    }
}